
@media (max-width: 59rem) {
  html {
    font-size: 50%;
    overflow-x: hidden;
  }
  /* **********************
           HERO
*********************** */
  .hero {
    grid-template-columns: 1fr;
  }
  .down {
    font-size: 4.8rem;
  }
  .dont {
    display: none;
  }
  .hero-img-box {
    display: grid;
  }
  .feedback-imgs img {
    margin-left: -1.5rem;
    border: 3px solid white;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }
  .hero-img {
    width: 50%;
    height: auto;
    justify-self: end;
  }
  .num {
    font-style: Roboto;
    color: #0e1133;
    font-weight: 900;
    display: block;
    font-size: 2.4rem;
    margin-left: 0.5rem;
  }
  .feedback-text {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-left: 0.6rem;
    font-size: 1.6rem;
  }
  /* How */
  .how-contanier {
    max-width: 130rem;
    margin: 0 8.2rem;
    text-align: center;
  }
  strong {
    display: inline-block;
  }

  .how-flex {
    align-items: center;
    flex-direction: column;
  }

  .how-btn {
    justify-self: center;
    border: #eaedf1 solid;
    background-color: white;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: Roboto;
    margin-top: 2rem;
  }
  .how-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 4rem;
  }

  /* PART 2 */
  .part2-contanier {
    max-width: 130rem;
    margin: 0 8.2rem;
    background-color: #f0f1f7;
    display: grid;
    grid-template-columns: 1fr;
  }
  .part2-h1 {
    font-size: 3.9rem;
  }
  .part2-p {
    font-size: 1.8rem;
  }
  .part2-heading {
    text-align: center;
  }
  .part2-collection {
    flex-direction: column;
  }
  .part2-box1 {
    margin-left: 6rem;
    margin-bottom: 1rem;
  }
  .part2-img {
    display: none;
  }
  /* NEED US */
  .need-us-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .need-us-img {
    max-width: 100%;
    margin-top: 6rem;
    margin-left: -0.8rem;
  }

  /* WORK */
  .work-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .work-box {
    margin-top: 3rem;
    padding: 10rem 12rem;
    box-shadow: -1px 14px 33px -9px #e0e0e0e6;
    border-radius: 2rem;
  }

  .work-p {
    padding-top: 1.2rem;
    color: rgb(112, 112, 114);
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  .work-img2 {
    display: none;
  }
  .work-img1 {
    width: 100%;
  }
  .work-cont3 {
    display: none;
    justify-content: end;
    align-items: center;
  }
  .work-grid1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .work-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    padding-top: 40px;
    position: relative;
  }
  .work-h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  .work-p2 {
    font-size: 2rem;
  }
  .work-btn {
    border: #eaedf1 solid;
    background-color: white;
    padding: 1.6rem 3.2rem;
    border-radius: 3rem;
    margin-top: 2.2rem;
    font-size: 16px;
  }
  .mobile-only {
    display: block;
    max-width: 100%;
    margin-top: 3rem;
  }

  /* PRICE */
  .grid--3-cols {
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }
  .princing-plan--complete {
    background-color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 36px 3px #c9c5c9;
    border-top: solid #ff3e66 3px;
  }
  
  .princing-plan--complete::after {
    content: "Most Popular";
    position: absolute;
    top: 4%;
    right: -8%;
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.4rem;
    color: white;
    background-color: #2a75f6;
    padding: 0.8rem 7.5rem 0.8rem 1.5rem;
    border-radius: 3rem;
  }
  /* Rate */
  .rate-btn0 {
    display: none;
  }
  .rate-p0 {
    position: absolute;
    top: 26rem;
    left: 0rem;
    text-align: center;
    padding: 0 2rem 0 2rem;
  }
  .rate-text0 {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
  }
  .rate-content{
display: flex;
    align-items: center;
    justify-items: center;
  }

  .rate-img {
    
    position: absolute;
    top: 3rem;
    left: 26rem;
    border-radius: 50%;
  }
  .rate-img1 {
    position: absolute;
    width: 75px;
    height: auto;
    top: 17rem;
    left: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rate-img1-rate {
    position: absolute;
    top: 24rem;
    left: 31rem;
    font-family: Roboto;
    font-size: 1.2rem;
    color: #bbc8d7;
  }

  .rate-strong {
    font-size: 2.5rem;
  }
  .test {
    position: absolute;
    top: 16rem;
    left:-5rem;
    
  }

  /* SPONSERS */

  .sponsers-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4;
  }

  .sponsers-box {
    box-shadow: 0 10px 50px -10px rgb(184 178 184 / 60%);
    border-radius: 1rem;
    margin: 2rem;
  }
  .sponsers-flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .In-the-middle {
    grid-column: 2/3;
  }

  /* FOOTER */
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    column-gap: 9rem;
  }
  .footer2 {
    justify-self: center;
    padding: 0;
    margin-top: 4rem;
  }
  .footer4 {
    margin-top: 4rem;
  }
  .space {
    display: none;
  }
  .footer-flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .footer-Copyright {
    margin-top: 2rem;
  }
  .footer {
    padding: 6rem 10rem 2rem 10rem;
    background-color: #eef1f6;
}
  /* MOBILE NAVIGATION */
  .header {
    position: relative;
  }
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: #eef1f6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  .main-nav-link {
    flex-direction: column;
    gap: 4.8em;
    opacity: 0;
  }
  .btn-nav {
    position: absolute;
    top: 0rem;
    right: 12rem;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
  }
  .icon-mobile-nav {
    position: absolute;
    top: 3rem;
    right: 6rem;
  }
}
